/*Make links text on left side of navbar black*/
.navbar-light .navbar-nav .nav-link {
    color: black;
}


/*For Desktop Version*/

/*NAVBAR*/
/*Style button*/
.support, .support:focus
{
    width: 147px;
    height: 35px;
    background-color: transparent;
    color: #8FB4FF;
    border-style: none;
}
.support:hover {
    color: #8FB4FF;
    background-color: transparent;
    border-color: transparent;
}
.createacct
{
    width: 147px;
    height: 35px;
    background-color: #0442BF;
}


/*HEROO SECTION*/
.heroosection
{
    width: 1280px;
    height: 349px;
    margin-top: 184px;
    margin-left: 48px;    
}
/*background shadow in heroo section*/
.backgroundshadow1
{
    border-radius: 50%;
    position: absolute;
    width: 330px;
    height: 330px;
    left: 4px;
    top: 169px;
    background: rgba(4, 66, 191, 0.3);
    filter: blur(800px);
}

/*For text on heroo section*/
.summary
{ 
position: absolute;
width: 779px;
height: 177px;
margin-left: 0px;
margin-top: 76px;
font-family: 'Heebo';
font-style: normal;
font-weight: 400;
font-size: 60px;
line-height: 88px;
color: #121212;
}

/*for the plane image*/
.plane
{
width: 654px;
height: 349px;
margin-left: 626px;
}
/*for get started button*/
.getstarted
{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px;
gap: 10px;

position: absolute;
width: 117px;
height: 50px;
margin-left: 0px;
margin-top: 29px;

background: #0442BF;
}

/*horizontal line*/
.divider
{
position: absolute;
height: 1px;
left: 81px;
right: 79px;
margin-top: 38px;

background: rgba(4, 66, 191, 0.5);
}

.featuresection
{
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 32px;
margin-left: 48px ;

position: absolute;
width: 258px;
height: 41px;
margin-top: 85px;
}
.line
{
    width: 103px;
}
/*ourfeatures*/
.ourfeatures
{
    width: 300px;
    height: 41px;
    
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 41px;
    display: flex;
    align-items: center;
    
    color: #626262;
}

/*places to visit section*/
.item
{
    margin-top: 200px;
    width: 1280px;
    height: 47px;
    margin-left: 48px;
}

/*Heading(places to visit section)*/
.populardecision
{
    width: 274px;
    height: 47px;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 47px;
    /* identical to box height */
    color: #121212;
}

.seemore
{   width: 159px;
    height: 47px;
    margin-left: 847px;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 47px;
    /* identical to box height */
    
    
    color: #01017A;
    
}

.visitplaces
{
    width: 1280px;
    margin-left: 48px;
    height: 531px;
}
.preview
{
    width: auto;
    margin-left: 28px;
}
.prev
{
    width: auto;
}

.maininfo
{

width: 352px;
height: 69px
}
.info
{
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   padding: 0px;
   gap: 2px;

   width: 150px;
   height: 69px;
}
.location
{

font-family: 'Heebo';
font-style: normal;
font-weight: 600;
font-size: 23px;
line-height: 41px;

color: #000079;
}
.price
{
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 600;
    font-size: 23px;
    line-height: 41px;

    color: #000079;
}

.proceed
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px;
    gap: 10px;

   width: 92px;
   height: 50px;

   background: #0442BF;
   margin-left: 100px;
   margin-top: 9.5px;
}
.card
{   height:470px;
    width:376px;
}

/*BLACK BACKGROUND SECTION*/
.itembackground
{   position: absolute;
    height: 430px;
    margin-left: 13px ;
    margin-top: 1000px;
    z-index: -100;
    width: 1437px;
    background: #121212;
    transform: matrix(1, 0, 0, -1, 0, 0);
}

.itembackground2
{
    position: absolute;
    height: 430px;
    margin-left: 13px ;
    margin-top: 1750px;
    z-index: -100;
    width: 1437px;
    background: #121212;
    transform: matrix(1, 0, 0, -1, 0, 0);
}

/*Why travel with us section*/
.travelwithus
{
    justify-content: center;
    padding: 0px;
    gap: 20px;
    width: 883px;
    position: absolute;
    height: 400px;
    margin-left: 279px;
    margin-right: 278px;
    margin-top: 2220px;
}
.travelheading
{
font-family: 'Heebo';
font-style: normal;
font-weight: 700;
font-size: 50px;
line-height: 73px;
text-align: center;
width: auto;
color: #121212;
height: 73px;
}

.values
{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 42px;

width: 883px;
height: 307px;
}
.frame45
{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 33px;

width: 277px;
height: 284px;
}

.frame43
{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 21px;

width: 245px;
height: 307px;

}

.frame41
{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 33px;

width: 277px;
height: 284px;
}
.wallet
{
    font-family: 'Heebo';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 35px;
text-align: center;

color: #0442BF;
}

.covenient
{
    
font-family: 'Heebo';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 26px;
text-align: center;

color: #121212;

}
.frame6
{
    width: 159px;
    height: 159px;
    margin-left: auto;
    margin-right: auto;
}

.frame7
{
    width: 191px;
    height: 191px;
    margin-left: auto;
    margin-right: auto;

}

.frame8
{
    width: 159px;
    height: 159px;
    margin-left: auto;
    margin-right: auto;
}
.services
{
    margin-left: auto;
    margin-right: auto;
}
/*Responsiveness*/

/*For mobile phones*/
@media screen and (max-width: 567px) 
{
    /*aligning menu for mobile view to be inline with logo*/
    .nav-item
    {
        margin-left: 6%;
    }

    .navbar-toggler, .navbar-toggler:focus
    {
        border-style: none;
        box-shadow: none;
    }
    .support
    {
        border-style: inset;
        margin-bottom: 2%;
    }

    /*HEROO SECTION*/
.heroosection
{
    width: 398px;
    height: auto;
    margin-top: 120px;
    margin-left: auto;
    margin-right: auto;
}
.divider
{
    display: none;
}
.summary
{ 
position: absolute;
height: 177px;
margin-left: 0px;
margin-top: 10px;
font-family: 'Heebo';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 88px;
color: #121212;
text-align: center;
}
.featuresection
{
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 32px;
margin-left: 60px ;

position: absolute;
width: 70%;
height: auto;
margin-top: 7px;
}

.line
{
    width: auto;
    margin-left: auto;
    margin-right: auto;
}
.ourfeatures
{
    width: auto;
    margin-left: auto;
    margin-right: auto;
}
/*for get started button*/
.getstarted
{
margin-top: 5px;
margin-left: 30%
}
.plane
{
width: 300px;
height: 200px;
margin-top: 310px;
margin-left: auto;
margin-right: auto;
}

/*places to visit section*/
.item
{
    margin-top: 200px;
    width: 80%;
    height: 5%;
    margin-left: 48px;
}

/*Heading(places to visit section)*/
.populardecision
{
    width: auto;
    height: 47px;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 47px;
    margin-left: auto;
    margin-right: auto;
    /* identical to box height */
    color: #121212;
}

.seemore
{   width: auto;
    height: 47px;
    margin-left: 2px;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 47px;
    margin-left: auto;
    margin-right: auto;
    /* identical to box height */
    
    
    color: #01017A;
    
}

.visitplaces
{
    width: auto;
    margin-left: 0px;
    height: 531px;
    margin-top: 50px;
}
.preview
{
    width: 90%;
    margin-top: 28px;
}
.prev
{
    width: 90%;
    margin-top: 1%;
}

.maininfo
{

width: auto;
height: 69px
}
.info
{
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   padding: 0px;
   gap: 2px;

   width: auto;
   height: 69px;
}
.location
{

font-family: 'Heebo';
font-style: normal;
font-weight: 600;
font-size: 23px;
line-height: 41px;

color: #000079;
}
.price
{
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 600;
    font-size: 23px;
    line-height: 41px;

    color: #000079;
}

.proceed
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px;
    gap: 10px;

   width: auto;
   height: 50px;

   background: #0442BF;
   margin-left: 100px;
   margin-top: 9.5px;
}
.card
{   height:470px;
    width:1px;
}

/*BLACK BACKGROUND SECTION*/
.itembackground
{   position: absolute;
    height: 430px;
    margin-left: 13px ;
    margin-top: 1000px;
    z-index: -100;
    width: 1437px;
    background: #121212;
    transform: matrix(1, 0, 0, -1, 0, 0);
}

.itembackground2
{
    position: absolute;
    height: 430px;
    margin-left: 13px ;
    margin-top: 1750px;
    z-index: -100;
    width: 1437px;
    background: #121212;
    transform: matrix(1, 0, 0, -1, 0, 0);
}

/*Why travel with us section*/
.travelwithus
{
    justify-content: center;
    padding: 0px;
    gap: 20px;
    width: auto;
    position: absolute;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2220px;
}
.travelheading
{
font-family: 'Heebo';
font-style: normal;
font-weight: 700;
font-size: 50px;
line-height: 73px;
text-align: center;
width: auto;
color: #121212;
height: 73px;
}

.values
{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 42px;

width: 883px;
height: 307px;
}
.frame45
{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 33px;

width: 277px;
height: 284px;
}

.frame43
{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 21px;

width: auto;
height: 307px;

}

.frame41
{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 33px;

width: 277px;
height: 284px;
}
.wallet
{
    font-family: 'Heebo';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 35px;
text-align: center;

color: #0442BF;
}

.covenient
{
    
font-family: 'Heebo';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 26px;
text-align: center;

color: #121212;

}
.frame6
{
    width: 159px;
    height: 159px;
    margin-left: auto;
    margin-right: auto;
}

.frame7
{
    width: 191px;
    height: 191px;
    margin-left: auto;
    margin-right: auto;

}

.frame8
{
    width: 159px;
    height: 159px;
    margin-left: auto;
    margin-right: auto;
}
.services
{
    margin-left: auto;
    margin-right: auto;
}


}