/*Make links text on left side of navbar black*/
.navbar-light .navbar-nav .nav-link {
    color: black;
}


/*For Desktop Version*/

/*NAVBAR*/
/*Style button*/
.support, .support:focus
{
    width: 147px;
    height: 35px;
    background-color: transparent;
    color: #8FB4FF;
    border-style: none;
}
.support:hover {
    color: #8FB4FF;
    background-color: transparent;
    border-color: transparent;
}
.createacct
{
    width: 147px;
    height: 35px;
    background-color: #0442BF;
}


/*HEROO SECTION*/
.heroosection
{
    width: 1280px;
    height: 349px;
    margin-top: 78.57px;
    margin-left: 80px;
    
}
.round
{
    border-radius: 50%;
    position: absolute;
    width: 330px;
    height: 330px;
    left: 4px;
    top: 169px;
    background: rgba(4, 66, 191, 0.3);
    filter: blur(800px);
}

/*For text on heroo section*/
.summary
{ 
position: absolute;
width: 779px;
height: 177px;
margin-left: 0px;
margin-top: 76px;
font-family: 'Heebo';
font-style: normal;
font-weight: 400;
font-size: 60px;
line-height: 88px;
color: #121212;
}

/*for the plane image*/
.plane
{
width: 654px;
height: 349px;
margin-left: 626px;
}
/*for get started button*/
.getstarted
{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px;
gap: 10px;

position: absolute;
width: 117px;
height: 50px;
margin-left: 0px;
margin-top: 29px;

background: #0442BF;
}
/*Responsiveness*/

/*For mobile phones*/
@media screen and (max-width: 567px) 
{
    /*aligning menu for mobile view to be inline with logo*/
    .nav-item
    {
        margin-left: 6%;
    }

    .navbar-toggler, .navbar-toggler:focus
    {
        border-style: none;
        box-shadow: none;
    }
    .support
    {
        border-style: inset;
        margin-bottom: 2%;
    }

    /*HEROO SECTION*/
.heroosection
{
    width: 398px;
    height: auto;
    margin-top: 10px;
    margin-left: 0%;
}

.summary
{ 
position: absolute;
height: 177px;
margin-left: 0px;
margin-top: 10px;
font-family: 'Heebo';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 88px;
color: #121212;
text-align: center;
}

/*for get started button*/
.getstarted
{
margin-top: 5px;
margin-left: 30%
}
.plane
{
width: 300px;
height: 200px;
margin-top: 260px;
margin-left: auto;
margin-right: auto;
}

}